.App{
  align-items: center;
}
.rootContent{
  display: flex;
  width:100%;
  flex-direction: column;
  text-align: center;



}

.content{
  display:flex;
  flex-direction: row;
 
}
.menu{
  flex: 30%;

}
.main{
  display: flex;
  flex:80%;

  align-items: center;
  justify-content: center;
  
}
